 <style>
      * {
        box-sizing: border-box;
      }
      .openBtn {
        display: flex;
        justify-content: left;
      }
      .openButton {
        border: none;
        border-radius: 5px;
        background-color: #1c87c9;
        color: white;
        padding: 14px 20px;
        cursor: pointer;
        position: fixed;
      }
      .loginPopup {
        position: relative;
        text-align: center;
        width: 100%;
      }
      .formPopup {
        display: none;
        position: fixed;
        left: 45%;
        top: 5%;
        transform: translate(-50%, 5%);
        border: 3px solid #999999;
        z-index: 9;
      }
      .formContainer {
        max-width: 300px;
        padding: 20px;
        background-color: #fff;
      }
      .formContainer input[type=number],
      .formContainer input[type=number] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 20px 0;
        border: none;
        background: #eee;
      }
      .formContainer input[type=number]:focus,
      .formContainer input[type=number]:focus {
        background-color: #ddd;
        outline: none;
      }
      .formContainer .btn {
        padding: 12px 20px;
        border: none;
        background-color: #8ebf42;
        color: #fff;
        cursor: pointer;
        width: 100%;
        margin-bottom: 15px;
        opacity: 0.8;
      }
      .formContainer .cancel {
        background-color: #cc0000;
      }
      .formContainer .btn:hover,
      .openButton:hover {
        opacity: 1;
      }
    </style>
	<div class="main-content">
			<h1>Потребителска Информация</h1>
			<p>Всички регистрирани потребители и техните цели.</p>
      <button 
      onclick="openFormm()"
      style="
      width:100%;
      height: 20px;
      background-color:#509fcf;
      color:white;
      border:none;
      
      ">Виж Цялата Информация за даден потребител</button>

			
				{{#each profilesDisplay}} 
                 
				{{#ifEquals this "🌞"}}
				<div class="panel-wrapper">		   
				<div class="panel-head">
					Потребител
				</div>
					<div class="panel-body">
				{{/ifEquals}}
				{{this}} <br>
				{{#ifEquals this "🌝"}}
				<button onclick="openForm()" id="goal" style="
				width: 100%;
				height: 20px;
			  background-color:rgb(103, 233, 103);
				color:white;
				border:none;">Задай или Поднови цел</button>
				<br>
					</div>
					</div>
				{{/ifEquals}}
               {{/each}}

			   {{#each goalDisplay}} 
                 
				{{#ifEquals this "🌞"}}
				<div class="panel-wrapper">		   
				<div class="panel-head">
					Потребител
				</div>
					<div class="panel-body">
				{{/ifEquals}}
				{{this}} <br>
				{{#ifEquals this "🌝"}}
				<button onclick="openForm()" id="goal" style="
				width: 100%;
				height: 20px;
			  background-color:rgb(103, 233, 103);
				color:white;
				border:none;">Задай или Поднови цел</button>
				<br>
					</div>
					</div>
				{{/ifEquals}}
        {{/each}}
			   
	 </div>
	    <div class="loginPopup">
      <div class="formPopup" id="popupForm">
        <form action="/auth/setGoal" class="formContainer" method="POST">
          <h2>Задайите цел на Потребител</h2>
          <label for="email">
            <strong>Потребителско ID</strong>
          </label>
          <input type="number" id="email" placeholder="ID" name="id" required>
          <label for="psw">
            <strong>Цел на Потребителя</strong>
          </label>
          <input type="number" id="psw" placeholder="Цел" name="cel" required>
          <button type="submit" class="btn">Задай</button>
          <button type="button" class="btn cancel" onclick="closeForm()">Затвори</button>
        </form>
      </div>
    </div>

    <div class="loginPopup">
      <div class="formPopup" id="popuppForm">
        <form action="/auth/fullinfoSearch" class="formContainer" method="POST">
          <h2>Информация за Потребител с ID</h2>
          <label for="email">
            <strong>Потребителско ID</strong>
          </label>
          <input type="number" id="email" placeholder="ID" name="id" required>
          <button type="submit" class="btn">Търси</button>
          <button type="button" class="btn cancel" onclick="closeFormm()">Затвори</button>
        </form>
      </div>
    </div>

	 <script src="/scripts/setgoal.js"></script>
	  <script>
      function openForm() {
        document.getElementById("popupForm").style.display = "block";
      }
      function closeForm() {
        document.getElementById("popupForm").style.display = "none";
      }
      function openFormm() {
        document.getElementById("popuppForm").style.display = "block";
      }
      function closeFormm() {
        document.getElementById("popuppForm").style.display = "none";
      }
    </script>
    <script>
      var req = new XMLHttpRequest();
      req.open("POST", "address_for_div_content", true);
      req.onreadystatechange = function () {
        if (req.readyState != 4 || req.status != 200) return;
        document.getElementById('id_of_div')=req.responseText;
      };
    </script>