<div class="main-content">
			<h1>{{user.plan}} Калкулатор</h1>
			<div class="panel-wrapper">
				<div class="panel-head">
					Търсете храни и рецепти
				</div>
				<div class="panel-body">
                 <button class="add" onclick="openForm()">Добави Закуска</button><br>
                 {{>foodForm}}
                 <button class="add" onclick="openForm()">Добавки Междинно Хранене</button><br>
                 {{>foodForm}}
                 <button class="add" onclick="openForm()">Добави Обяд</button><br>
                 {{>foodForm}}
                 <button class="add" onclick="openForm()">Добавки Междинно Хранене</button><br>
                 {{>foodForm}}
                 <button class="add" onclick="openForm()">Добави Вечеря</button><br>
                 {{>foodForm}}
				</div>
			</div>
		</div>
	</div>
               