	<div class="main-content">
			<h1>Най-новите новини и Събития</h1>
			<p>Прочетете всички актуални новини качени от Милен тук.</p>
			
				{{#each newsData}} 
				<div class="panel-wrapper">		   
				<div class="panel-head">
					Новини
				</div>
				<div class="panel-body">
					{{this}}
				</div>
			</div>
               {{/each}}
			
		</div>
	</div>