<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Pragma" content="no-cache" />
     <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/style.css">
    <title>Влизане За Админ</title>
</head>
<body>
    <div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <h2>HealthyFitness</h2><br>
      <h2>Влизане За Админ</h2>
    </div>
                {{#if message}}
                <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                <strong>{{message}}</strong> 
                </div>
                {{/if}}
    <!-- Login Form -->
    <form action="/auth/6537009498sDAE09498" method="POST">
      <input type="text" id="email" class="fadeIn second" name="adminName" placeholder="Админ Име">
      <input type="password" id="pass" class="fadeIn second" name="adminpass" placeholder="Парола">
      <input type="submit" class="fadeIn fourth" value="Влизане">
    </form>

  
  </div>
</body>
</html>