<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Milen">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Начало</title>

    <link rel="stylesheet" href="statickStyle.css">
    <meta name="generator" content="Milen website">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    
    
    
    
    
    
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "",
		"url": "index.html",
		"logo": "images/default-logo.png"
}</script>
    <meta property="og:title" content="Начало">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#478ac9">
    
    <meta property="og:url" content="index.html">
  </head>
  <body data-home-page="Начало.html" data-home-page-title="Начало" class="u-body"><header class="u-clearfix u-header u-header" id="sec-667c"><div class="u-clearfix u-sheet u-sheet-1">
        <a href="/" class="u-image u-logo u-image-1">
          <img src="/extra/default-logo.png" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 700; text-transform: uppercase;">
            <a class="u-button-style u-custom-active-border-color u-custom-active-color u-custom-border u-custom-border-color u-custom-borders u-custom-hover-border-color u-custom-hover-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;"><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</symbol>
</defs></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-spacing-30 u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-grey-90" href="/" style="padding: 10px 0px;">Начало</a>
</li><li class="u-nav-item"><a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-grey-90" href="/aboutUs" style="padding: 10px 0px;">За нас</a>
</li><li class="u-nav-item"><a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-grey-90" href="/contacts" style="padding: 10px 0px;">Контакти</a>

</li><li class="u-nav-item"><a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-grey-90" href="/dashboard" style="padding: 10px 0px;">Dashboard</a>
</li></ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/" style="padding: 10px 0px;">Начало</a>
            </li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/aboutUs" style="padding: 10px 0px;">За нас</a>
 </li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/contacts" style="padding: 10px 0px;">Контакти</a>

</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/dashboard" style="padding: 10px 0px;">Dashboard</a>
</li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div></header> 
    <section class="u-clearfix u-section-1" id="carousel_bebf">
      <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-container-style u-layout-cell u-palette-1-dark-1 u-size-30 u-layout-cell-1">
              <div class="u-container-layout u-valign-top u-container-layout-1">
                <a href="/login" class="u-active-white u-align-center-xs u-border-2 u-border-active-white u-border-hover-white u-border-white u-btn u-button-style u-hover-white u-none u-text-active-white u-text-body-alt-color u-text-hover-white u-btn-1">Вход/регистрация</a>
              </div>
            </div>
            <div class="u-container-style u-image u-layout-cell u-size-30 u-image-1" data-image-width="1200" data-image-height="1077">
              <div class="u-container-layout u-valign-middle-xl u-container-layout-2">
                <h1 class="u-align-center-xs u-custom-font u-font-courier-new u-text u-text-body-alt-color u-text-1">Започни своето приключение сега</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-section-2" id="carousel_9475">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-text u-text-1">За нас</h1>
        <h5 class="u-text u-text-2">Малко повече информация</h5>
        <div class="u-border-3 u-border-palette-1-dark-1 u-line u-line-horizontal u-line-1"></div>
        <p class="u-text u-text-3">Малко повече информация за това с какво се занимаваш, как работиш или дори от колко време си в тази индустрия. Възможно най-кратко, за да се представи идеята с не повече от 2-3 изречения и да не превишава 3 реда. Снимките могат да бъдат на твои клиенти или на теб.</p>
        <div class="u-expanded-width u-palette-1-dark-1 u-shape u-shape-rectangle u-shape-1"></div>
        <div class="u-clearfix u-gutter-30 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-image u-layout-cell u-left-cell u-size-20 u-image-1" data-image-width="626" data-image-height="939">
                <div class="u-container-layout u-container-layout-1"></div>
              </div>
              <div class="u-align-center u-container-style u-image u-layout-cell u-size-20 u-image-2" data-image-width="626" data-image-height="939">
                <div class="u-container-layout u-valign-middle u-container-layout-2"></div>
              </div>
              <div class="u-container-style u-image u-layout-cell u-right-cell u-size-20 u-image-3" data-image-width="626" data-image-height="939">
                <div class="u-container-layout u-container-layout-3"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-image u-section-3" id="carousel_7eb9" data-image-width="1980" data-image-height="1076">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-left u-container-style u-list-item u-palette-1-dark-1 u-repeater-item u-list-item-1">
              <div class="u-container-layout u-similar-container u-container-layout-1"><span class="u-icon u-icon-circle u-spacing-14 u-text-palette-1-dark-2 u-white u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-d16f"></use></svg><svg class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" id="svg-d16f" style="enable-background:new 0 0 512 512;"><g><g><path d="M469.717,129.996h-9.91c-4.002,0-7.871,0.571-11.542,1.615c-3.741-19.515-20.93-34.309-41.519-34.309h-9.909    c-23.315,0-42.284,18.969-42.284,42.283v68.248H157.446v-76.607c0-23.315-18.969-42.283-42.283-42.283h-9.909    c-20.589,0-37.778,14.794-41.518,34.309c-3.672-1.044-7.541-1.615-11.543-1.615h-9.909C18.969,121.637,0,140.604,0,163.92V339.72    c0,23.315,18.969,42.283,42.283,42.283h9.909c4.002,0,7.871-0.571,11.543-1.615c3.741,19.515,20.93,34.309,41.518,34.309h9.909    c23.315,0,42.283-18.969,42.283-42.283v-61.402h197.107v69.762c0,23.315,18.969,42.283,42.284,42.283h9.909    c20.589,0,37.779-14.795,41.519-34.309c3.671,1.044,7.541,1.615,11.542,1.615h9.91c23.314,0,42.283-18.969,42.283-42.283V172.279    C512,148.964,493.031,129.996,469.717,129.996z M62.971,339.72c0,5.944-4.835,10.78-10.779,10.78h-9.909    c-5.944,0-10.779-4.836-10.779-10.78V163.92c0-5.944,4.835-10.779,10.779-10.779h9.909c5.944,0,10.779,4.835,10.779,10.779V339.72    z M125.942,372.415c0,5.944-4.835,10.779-10.779,10.779h-9.909c-5.944,0-10.779-4.835-10.779-10.779V131.224    c0-5.944,4.836-10.779,10.779-10.779h9.909c5.944,0,10.779,4.835,10.779,10.779V372.415z M354.554,279.509H157.446v-40.173    h197.107V279.509z M417.525,380.775c0,5.944-4.835,10.779-10.78,10.779h-9.909c-5.944,0-10.78-4.835-10.78-10.779V139.584    c0-5.944,4.835-10.779,10.78-10.779h9.909c5.944,0,10.78,4.835,10.78,10.779V380.775z M480.496,348.079    c0,5.944-4.835,10.779-10.779,10.779h-9.91c-5.943,0-10.779-4.835-10.779-10.779V172.279c0-5.944,4.835-10.779,10.779-10.779h9.91    c5.943,0,10.779,4.835,10.779,10.779V348.079z"></path>
</g>
</g></svg></span>
                <h5 class="u-text u-text-1">Фитнес</h5>
                <p class="u-text u-text-2">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
              </div>
            </div>
            <div class="u-align-left u-container-style u-list-item u-palette-1-dark-1 u-repeater-item u-list-item-2">
              <div class="u-container-layout u-similar-container u-container-layout-2"><span class="u-icon u-icon-circle u-spacing-14 u-text-palette-1-dark-2 u-white u-icon-2"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-c7c7"></use></svg><svg class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" id="svg-c7c7" style="enable-background:new 0 0 512 512;"><g><g><g><path d="M387.568,97.168l12.912-27.552C410.669,47.82,415.966,24.06,416,0h-32c-0.03,19.353-4.289,38.466-12.48,56l-13.44,28.656     l-0.848,2.208c-11.903,39.662-10.9,82.08,2.864,121.136H151.904c13.76-39.051,14.763-81.463,2.864-121.12L140.48,56     C132.289,38.466,128.03,19.353,128,0H96c0.034,24.06,5.331,47.82,15.52,69.616l12.912,27.552     c11.72,39.814,7.877,82.593-10.752,119.68C83.582,283.107,66.706,354.604,64,427.328V512h32v-84.672     c0.846-32.501,5.137-64.82,12.8-96.416l99.2,61.952V512h32V400h32v112h32V392.864l99.2-61.952     c7.663,31.596,11.954,63.915,12.8,96.416V512h32v-84.672c-2.681-72.719-19.529-144.216-49.6-210.48     C379.744,179.771,375.872,136.992,387.568,97.168z M283.424,368h-54.848l-111.328-69.584c5.58-19.938,12.557-39.458,20.88-58.416     h235.744c8.296,18.96,15.246,38.48,20.8,58.416L283.424,368z"></path><rect x="240" y="144" width="32" height="32"></rect><polygon points="53.888,160 104,160 104,128 53.888,128 69.312,104.88 42.688,87.12 4.768,144 42.688,200.88 69.312,183.12         "></polygon><polygon points="469.312,87.12 442.688,104.88 458.112,128 408,128 408,160 458.112,160 442.688,183.12 469.312,200.88      507.232,144    "></polygon>
</g>
</g>
</g></svg></span>
                <h5 class="u-text u-text-3">Сваляне на КГ</h5>
                <p class="u-text u-text-4">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
              </div>
            </div>
            <div class="u-align-left u-container-style u-list-item u-palette-1-dark-1 u-repeater-item u-list-item-3">
              <div class="u-container-layout u-similar-container u-container-layout-3"><span class="u-icon u-icon-circle u-spacing-14 u-text-palette-1-dark-2 u-white u-icon-3"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 508.16 508.16" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-2287"></use></svg><svg class="u-svg-content" viewBox="0 0 508.16 508.16" id="svg-2287"><g><path d="m434.393 318.198-42.427 42.426-21.213-21.213 19.393-19.394c17.546-17.546 17.546-46.094 0-63.64-8.143-8.144-18.657-12.501-29.341-13.085-1.244-22.751-19.362-41.208-42.429-42.451-.589-10.675-4.946-21.18-13.082-29.316h-.001c-8.143-8.145-18.657-12.502-29.341-13.086-.584-10.684-4.942-21.197-13.086-29.341-17.545-17.545-46.095-17.545-63.639 0l-19.394 19.394-42.426-42.427 42.426-42.426-63.639-63.639-106.066 106.065 63.64 63.64 42.427-42.427 42.426 42.427-21.214 21.213c-11.721-11.722-30.702-11.727-42.426.001l-31.82 31.819c-31.753 31.754-28.338 77.273-26.298 104.471.167 2.234.325 4.33.447 6.232l-26.227 26.227 148.493 148.492 37.162-37.161c21.533-.605 47.308-4.882 67.949-25.522l84.854-84.853 21.213 21.213-42.427 42.427 63.64 63.64 106.066-106.066zm-360.625-190.919-21.213-21.214 63.64-63.64 21.213 21.214zm231.526 107.885c5.863-5.863 15.35-5.862 21.213 0 5.849 5.849 5.849 15.365 0 21.214l-61.821 61.819c-5.863 5.862-15.349 5.862-21.212 0h-.001c-5.862-5.861-5.862-15.35 0-21.213zm-21.214-42.426c5.848 5.849 5.848 15.364 0 21.213l-61.821 61.82c-5.17 5.17-13.011 5.689-18.699 2.028.308-7.077-1.06-14.537-4.338-21.418l63.644-63.644c5.849-5.846 15.366-5.846 21.214.001zm-63.639-42.427c5.849-5.849 15.365-5.847 21.213 0 5.849 5.849 5.849 15.365 0 21.214l-61.82 61.819c-1.867-1.867-15.91-15.909-21.213-21.213zm23.033 273.953c-11.79 11.789-27.65 16.819-53.033 16.819h-6.213l-24.651 24.651-106.067-106.066 14.044-14.043v-6.214c0-21.018-10.271-68.368 16.82-95.46l31.819-31.819 53.036 53.034c5.725 5.731 5.936 15.274-.002 21.212-5.849 5.848-15.365 5.848-21.214 0l-31.819-31.819-21.213 21.213 31.819 31.819c18.092 18.095 48.008 17.572 65.374-1.841 5.269 2.534 11.015 4.018 16.979 4.342 1.246 22.873 19.55 41.193 42.45 42.428.914 16.557 10.769 31.076 25.514 38.1zm63.639-63.64c-5.848 5.848-15.364 5.849-21.213 0s-5.849-15.365 0-21.214l61.82-61.819c5.849-5.848 15.364-5.848 21.213 0 5.849 5.849 5.849 15.365 0 21.214zm63.64 63.64 63.64-63.64 21.213 21.213-63.64 63.641z"></path>
</g></svg></span>
                <h5 class="u-text u-text-5">Тренировки</h5>
                <p class="u-text u-text-6">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
              </div>
            </div>
            <div class="u-align-left u-container-style u-list-item u-palette-1-dark-1 u-repeater-item u-list-item-4">
              <div class="u-container-layout u-similar-container u-container-layout-4"><span class="u-icon u-icon-circle u-spacing-14 u-white u-icon-4"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-23d5"></use></svg><svg class="u-svg-content" viewBox="0 0 512 512" id="svg-23d5"><path d="m457.505 380.035c0-14.041-5.442-27.214-15.324-37.095-18.133-18.131-46.343-20.17-66.76-6.144 0 0-.065-147.01-.176-147.608-2.469-38.244-33.652-59.807-62.956-77.054-10.913-6.449-12.038-7.132-12.151-33.818 10.444-4.058 17.869-14.21 17.869-26.07v-24.282c.001-15.419-12.545-27.964-27.965-27.964h-150.167c-15.436 0-27.994 12.545-27.994 27.964v24.282c0 11.864 7.438 22.019 17.898 26.074-.113 26.678-1.24 27.36-12.168 33.807-29.304 17.264-60.47 38.833-62.94 77.061-.11.598-.176 4.207-.176 4.901v264.05c0 22.012 17.91 39.921 39.924 39.921h195.515c10.025 9.285 22.817 13.94 35.617 13.94 13.43 0 26.86-5.112 37.083-15.335l39.784-39.778c.002-.002.005-.004.008-.007s.004-.005.007-.008l39.749-39.743c9.881-9.879 15.323-23.053 15.323-37.094zm-325.457-352.071c0-4.299 3.511-7.795 7.827-7.795h150.167c4.3 0 7.799 3.497 7.799 7.795v24.282c0 4.299-3.499 7.795-7.799 7.795h-150.167c-4.316 0-7.827-3.497-7.827-7.795zm-4.194 101.537c19.866-11.721 21.879-21.581 22.083-49.292h130.043c.204 27.704 2.216 37.568 22.063 49.297 27.335 16.088 46.009 30.945 51.513 51.438h-93.724c-5.569 0-10.084 4.515-10.084 10.084s4.515 10.084 10.084 10.084h95.422v154.585l-42.778 42.772h-237.813v-197.356h95.393c5.569 0 10.084-4.515 10.084-10.084s-4.515-10.084-10.084-10.084h-93.695c5.503-20.486 24.168-35.346 51.493-51.444zm-53.191 328.639v-39.501h217.642l-3.838 3.838c-9.882 9.88-15.324 23.054-15.324 37.095 0 6.362 1.128 12.541 3.269 18.321h-181.993c-10.894-.001-19.756-8.862-19.756-19.753zm273.711 24.264c-12.586 12.584-33.063 12.583-45.648 0-6.072-6.071-9.416-14.18-9.416-22.833s3.344-16.762 9.416-22.833l21.056-21.053 11.575-11.574 45.671 45.643zm79.547-79.535-32.631 32.626-45.671-45.643 32.654-32.649c6.292-6.291 14.558-9.438 22.825-9.438 8.265 0 16.531 3.146 22.824 9.438 6.072 6.071 9.416 14.18 9.416 22.833-.001 8.653-3.345 16.761-9.417 22.833z"></path><path d="m167.093 228.127-63.365 78.968c-2.428 3.025-2.905 7.175-1.227 10.672 1.678 3.498 5.213 5.723 9.092 5.723h19.36v30.888c0 5.569 4.515 10.084 10.084 10.084h67.843c5.569 0 10.084-4.515 10.084-10.084v-30.888h19.36c3.879 0 7.414-2.225 9.092-5.723 1.678-3.497 1.201-7.647-1.227-10.672l-63.365-78.968c-1.914-2.385-4.807-3.773-7.865-3.773-3.059 0-5.951 1.388-7.866 3.773zm50.21 75.195h-8.423c-5.569 0-10.084 4.515-10.084 10.084v30.888h-47.676v-30.888c0-5.569-4.515-10.084-10.084-10.084h-8.423l42.345-52.772z"></path><path d="m241.525 244.522h69.742c5.569 0 10.084-4.515 10.084-10.084s-4.515-10.084-10.084-10.084h-69.742c-5.569 0-10.084 4.515-10.084 10.084.001 5.57 4.515 10.084 10.084 10.084z"></path><path d="m311.267 344.294h-49.734c-5.569 0-10.084 4.515-10.084 10.084s4.515 10.084 10.084 10.084h49.734c5.569 0 10.084-4.515 10.084-10.084s-4.515-10.084-10.084-10.084z"></path><path d="m311.267 304.314h-29.755c-5.569 0-10.084 4.515-10.084 10.084s4.515 10.084 10.084 10.084h29.755c5.569 0 10.084-4.515 10.084-10.084s-4.515-10.084-10.084-10.084z"></path><path d="m311.267 264.334h-49.734c-5.569 0-10.084 4.515-10.084 10.084s4.515 10.084 10.084 10.084h49.734c5.569 0 10.084-4.515 10.084-10.084s-4.515-10.084-10.084-10.084z"></path><path d="m214.945 201.113c5.569 0 10.084-4.515 10.084-10.084s-4.515-10.084-10.084-10.084h-.028c-5.569 0-10.07 4.515-10.07 10.084-.001 5.57 4.529 10.084 10.098 10.084z"></path></svg></span>
                <h5 class="u-text u-text-7">Хранене</h5>
                <p class="u-text u-text-8">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </section>
    <section class="u-align-center u-clearfix u-custom-color-2 u-section-4" id="sec-72d3">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h1 class="u-text u-text-1">Включи се</h1>
        <p class="u-large-text u-text u-text-font u-text-variant u-text-2">Направи си регистрация, избери план и започни своето приклюение</p>
        <a href="/register" class="u-btn u-button-style u-text-custom-color-2 u-white u-btn-1">Регистрация</a>
      </div>
    </section>
    <section class="u-align-center u-black u-clearfix u-section-5" id="sec-2df4">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-clearfix u-gutter-40 u-layout-wrap u-layout-wrap-1">
          <div class="u-gutter-0 u-layout">
            <div class="u-layout-row">
              <div class="u-size-30">
                <div class="u-layout-col">
                  <div class="u-container-style u-layout-cell u-size-60 u-layout-cell-1">
                    <div class="u-container-layout">
                      <img class="u-expanded-height u-image u-image-1" src="/extra/erttt.jpg" data-image-width="700" data-image-height="700">
                      <div class="u-align-right u-container-style u-group u-white u-group-1">
                        <div class="u-container-layout u-container-layout-2">
                          <h2 class="u-text u-text-1"> Ела тренирай с нас</h2>
                          <div class="u-border-2 u-border-black u-line u-line-horizontal u-line-1"></div>
                          <a href="/login" class="u-active-custom-color-2 u-border-2 u-border-active-custom-color-2 u-border-custom-color-2 u-border-hover-white u-btn u-button-style u-hover-custom-color-2 u-none u-text-active-white u-text-body-color u-text-hover-white u-btn-1">Включи се</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-size-30">
                <div class="u-layout-col">
                  <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                    <div class="u-container-layout u-valign-middle-md u-valign-middle-sm u-valign-middle-xs">
                      <div class="u-custom-color-2 u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-shape u-shape-rectangle u-shape-1"></div>
                      <img class="u-expanded-height u-image u-image-2" src="/extra/gff.jpg">
                    </div>
                  </div>
                  <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-3">
                    <div class="u-container-layout u-container-layout-4">
                      <h3 class="u-text u-text-2">Мъжки тренировки</h3>
                      <p class="u-text u-text-3">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-section-6" id="carousel_18dd">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-gutter-0 u-layout">
            <div class="u-layout-row">
              <div class="u-size-19 u-size-60-md">
                <div class="u-layout-col">
                  <div class="u-align-left u-container-style u-layout-cell u-left-cell u-shape-rectangle u-size-60 u-layout-cell-1">
                    <div class="u-container-layout u-container-layout-1">
                      <h5 class="u-text u-text-1">Членство</h5>
                      <h2 class="u-text u-text-2">Премиум клиенти</h2>
                      <p class="u-text u-text-3">Можеш да измислиш текст, с който да привлечеш премиум клиенти или да превърнеш обикновените потребители в такива. Разбира се, може и да се напише нещо съвсем друго.</p>
                      <div class="u-social-icons u-spacing-23 u-social-icons-1">
                        <a class="u-social-url" target="_blank" href=""><span class="u-icon u-icon-circle u-social-facebook u-social-icon u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-da7f"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 112 112" x="0px" y="0px" id="svg-da7f"><path d="M75.5,28.8H65.4c-1.5,0-4,0.9-4,4.3v9.4h13.9l-1.5,15.8H61.4v45.1H42.8V58.3h-8.8V42.4h8.8V32.2 c0-7.4,3.4-18.8,18.8-18.8h13.8v15.4H75.5z"></path></svg></span>
                        </a>
                        <a class="u-social-url" target="_blank" href=""><span class="u-icon u-icon-circle u-social-icon u-social-twitter u-icon-2"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-8e2a"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 112 112" x="0px" y="0px" id="svg-8e2a"><path d="M92.2,38.2c0,0.8,0,1.6,0,2.3c0,24.3-18.6,52.4-52.6,52.4c-10.6,0.1-20.2-2.9-28.5-8.2 c1.4,0.2,2.9,0.2,4.4,0.2c8.7,0,16.7-2.9,23-7.9c-8.1-0.2-14.9-5.5-17.3-12.8c1.1,0.2,2.4,0.2,3.4,0.2c1.6,0,3.3-0.2,4.8-0.7 c-8.4-1.6-14.9-9.2-14.9-18c0-0.2,0-0.2,0-0.2c2.5,1.4,5.4,2.2,8.4,2.3c-5-3.3-8.3-8.9-8.3-15.4c0-3.4,1-6.5,2.5-9.2 c9.1,11.1,22.7,18.5,38,19.2c-0.2-1.4-0.4-2.8-0.4-4.3c0.1-10,8.3-18.2,18.5-18.2c5.4,0,10.1,2.2,13.5,5.7c4.3-0.8,8.1-2.3,11.7-4.5 c-1.4,4.3-4.3,7.9-8.1,10.1c3.7-0.4,7.3-1.4,10.6-2.9C98.9,32.3,95.7,35.5,92.2,38.2z"></path></svg></span>
                        </a>
                        <a class="u-social-url" target="_blank" href=""><span class="u-icon u-icon-circle u-social-icon u-social-instagram u-icon-3"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-3ae5"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 112 112" x="0px" y="0px" id="svg-3ae5"><path d="M55.9,32.9c-12.8,0-23.2,10.4-23.2,23.2s10.4,23.2,23.2,23.2s23.2-10.4,23.2-23.2S68.7,32.9,55.9,32.9z M55.9,69.4c-7.4,0-13.3-6-13.3-13.3c-0.1-7.4,6-13.3,13.3-13.3s13.3,6,13.3,13.3C69.3,63.5,63.3,69.4,55.9,69.4z"></path><path d="M79.7,26.8c-3,0-5.4,2.5-5.4,5.4s2.5,5.4,5.4,5.4c3,0,5.4-2.5,5.4-5.4S82.7,26.8,79.7,26.8z"></path><path d="M78.2,11H33.5C21,11,10.8,21.3,10.8,33.7v44.7c0,12.6,10.2,22.8,22.7,22.8h44.7c12.6,0,22.7-10.2,22.7-22.7 V33.7C100.8,21.1,90.6,11,78.2,11z M91,78.4c0,7.1-5.8,12.8-12.8,12.8H33.5c-7.1,0-12.8-5.8-12.8-12.8V33.7 c0-7.1,5.8-12.8,12.8-12.8h44.7c7.1,0,12.8,5.8,12.8,12.8V78.4z"></path></svg></span>
                        </a>
                        <a class="u-social-url" target="_blank" href="#"><span class="u-icon u-icon-circle u-social-icon u-social-youtube u-icon-4"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-5adc"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 112 112" x="0px" y="0px" id="svg-5adc"><path d="M82.3,24H29.7C19.3,24,11,32.5,11,43v26.7c0,10.5,8.3,19,18.7,19h52.5c10.3,0,18.7-8.5,18.7-19V43 C101,32.5,92.7,24,82.3,24L82.3,24z M69.7,57.6L45.1,69.5c-0.7,0.2-1.4-0.2-1.4-0.8V44.1c0-0.7,0.8-1.3,1.4-0.8l24.6,12.6 C70.4,56.2,70.4,57.3,69.7,57.6L69.7,57.6z"></path></svg></span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-size-17-lg u-size-21-sm u-size-21-xl u-size-21-xs u-size-30-md">
                <div class="u-layout-row">
                  <div class="u-align-center u-container-style u-layout-cell u-shape-rectangle u-size-60 u-layout-cell-2">
                    <div class="u-container-layout u-container-layout-2">
                      <h4 class="u-text u-text-4">Ще разбереш колко лесно е да си мотивиран и във форма</h4>
                      <a href="/login" class="u-active-custom-color-2 u-border-2 u-border-active-custom-color-2 u-border-custom-color-2 u-border-hover-white u-btn u-button-style u-hover-custom-color-2 u-none u-text-active-white u-text-body-color u-text-hover-white u-btn-1">Включи се</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-size-20-sm u-size-20-xl u-size-20-xs u-size-24-lg u-size-30-md">
                <div class="u-layout-row">
                  <div class="u-container-style u-layout-cell u-right-cell u-shape-rectangle u-size-60 u-layout-cell-3">
                    <div class="u-container-layout u-valign-middle u-container-layout-3">
                      <img class="u-align-center-xs u-image u-image-default u-image-1" src="/extra/fxgtfh.jpg" data-image-width="800" data-image-height="631">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-image u-shading u-section-7" id="carousel_47dd">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-custom-color-2 u-shape u-shape-rectangle u-shape-1"></div>
        <div class="u-container-style u-expanded-width-sm u-expanded-width-xs u-group u-white u-group-1">
          <div class="u-container-layout u-valign-middle-lg u-valign-middle-xl u-valign-middle-xs u-container-layout-1">
            <h2 class="u-align-center u-text u-text-1">Свържете се с нас</h2>
            <div class="u-align-center-xs u-form u-form-1">
              <form action="#" method="POST" class="u-clearfix u-form-spacing-13 u-form-vertical u-inner-form" style="padding: 30px;" source="custom" name="form">
                <div class="u-form-email u-form-group u-form-partition-factor-2">
                  <label for="email-f18c" class="u-label">Име</label>
                  <input type="email" id="email-f18c" name="email" class="u-grey-5 u-input u-input-rectangle u-input-1" required="">
                </div>
                <div class="u-form-group u-form-name u-form-partition-factor-2">
                  <label for="name-f18c" class="u-label">E-mail</label>
                  <input type="text" id="name-f18c" name="name" class="u-grey-5 u-input u-input-rectangle u-input-2" required="">
                </div>
                <div class="u-form-group u-form-phone u-form-group-3">
                  <label for="phone-cbff" class="u-label" wfd-invisible="true">Телефонен номер</label>
                  <input type="tel" pattern="\+?\d{0,2}[\s\(\-]?([0-9]{3})[\s\)\-]?([\s\-]?)([0-9]{3})[\s\-]?([0-9]{2})[\s\-]?([0-9]{2})" id="phone-cbff" name="phone" class="u-grey-5 u-input u-input-rectangle u-input-3" required="">
                </div>
                <div class="u-form-group u-form-message u-form-group-4">
                  <label for="message-1015" class="u-label">Съобщение</label>
                  <textarea rows="4" cols="50" id="message-1015" name="message-1" class="u-grey-5 u-input u-input-rectangle u-input-4" required=""></textarea>
                </div>
                <div class="u-align-center-xs u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-form-group u-form-submit">
                  <a href="#" class="u-black u-btn u-btn-submit u-button-style u-btn-1">Изпрати</a>
                  <input type="submit" value="submit" class="u-form-control-hidden" wfd-invisible="true">
                </div>
                <div class="u-form-send-message u-form-send-success" wfd-invisible="true"> Thank you! Your message has been sent. </div>
                <div class="u-form-send-error u-form-send-message" wfd-invisible="true"> Възникна грешка, моля опитай отново. </div>
                <input type="hidden" value="" name="recaptchaResponse" wfd-invisible="true">
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-228a"><div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
      </div></footer>
   
  </body>
  <script src="/scripts/jquery.js"></script>
  <script src="/scripts/statickJs.js"></script>
</html>