<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
  
    
     <div class="wrapper fadeInDown">
  <div id="formContent">

    <div id="formFooter">
      <a class="underlineHover" href="/login">Вече Имате Регистрация?</a>
    </div>
    <!-- Icon -->
    <div class="fadeIn first">
      <h2 style="font-size: larger;">HealthyFitness</h2> <br>
      <h2 style=" text-decoration: underline;">Регистрация</h2>
    </div>
                {{#if message}}
                <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                <strong>{{message}}</strong> 
                </div>
                {{/if}}
    <!-- Login Form -->
    <form action="/auth/register" method="POST">
    
      <input type="text" id="email" class="fadeIn second" name="email" placeholder="Емейл">
      <input type="text" id="name" class="fadeIn third" name="name" placeholder="Име и Фамилия">
      <input type="password" id="pass" class="fadeIn second" name="pass" placeholder="Парола">
      <input type="password" id="passSec" class="fadeIn third" name="passSec" placeholder="Потвърди Парола">

      <h2 style="margin-top: 6%; color:rgb(92, 212, 216);">Изберете План</h2><br>
      <select  class="fadeIn second" name="plan" id="plan">
        <option style="height: 50px;" value="Безплатен">Безплатен</option>
        <option style="weight:150% " value="Премиум">Премиум</option>
      </select><br>

      <h2 style=" text-decoration: underline;">Формуляр за клиенти</h2>
      <h6>
        Моля, отделете няколко минути, за да попълните здравната си форма и щракнете върху „изпрати“ в края на страницата. 
        На базата на този формуляр изготвям вашия режим. Гарантирам абсолютната дискретност на предоставената от вас информация и
        възможността да я премахна от нашата база данни по всяко време. Благодаря ви!
      </h6> <br>
     <p for="date">Дата На Раждане</p>
     <input type="date" id="data" class="fadeIn second" name="dataOfBirth" placeholder="Дата На Раждане">
     <input type="text" id="proffesion" class="fadeIn second" name="proffesion" placeholder="Професия ">
     <input type="number" id="phoneNum" class="fadeIn second" name="phoneNum" placeholder="Телефонен номер">

     <h2 style=" text-decoration: underline;">Моите здравни и спортни цели</h2>
     
            <h2>----------------------------------------------------------</h2>
            <p>Искам да...</p>
            <input type="checkbox" id="radioaz" name="iskamDa" value="Поддържам тонус">
            <label for="male">Поддържам тонус</label><br>
            <input type="checkbox" id="radisoz" name="iskamDa" value="Натрупам мускулна маса">
            <label for="female">Натрупам мускулна маса</label><br>
            <input type="checkbox" id="raddioz" name="iskamDa" value="Да сваля от 1кг до 5к">
            <label for="other">Да сваля от 1кг до 5кг</label><br>
            <input type="checkbox" id="radfioz" name="iskamDa" value="Да бъда по-уверен в себе си">
            <label for="other">Да бъда по-уверен в себе си</label><br>
            <input type="checkbox" id="rgadioz" name="iskamDa" value="Да сваля подкожните мазнини">
            <label for="other">Да сваля подкожните мазнини</label><br>
            <input type="checkbox" id="razdioz" name="iskamDa" value="Увелича силата си">
            <label for="other">Увелича силата си</label><br>
            <input type="checkbox" id="radxioz" name="iskamDa" value="Подобря издръжливостта си и сърдечно съдовата система">
            <label for="other">Подобря издръжливостта си и сърдечно съдовата система</label><br>
            <input type="checkbox" id="radicoz" name="iskamDa" value="Оформя тялото си">
            <label for="other">Оформя тялото си</label><br>
            <input type="checkbox" id="radivoz" name="iskamDa" value="Подобря баланса си">
            <label for="other">Подобря баланса си</label><br>
            <input type="checkbox" id="radiboz" name="iskamDa" value="По-добър здравословен начин на живот и променя навиците си">
            <label for="other">По-добър здравословен начин на живот и променя навиците си</label><br>
            <h2>----------------------------------------------------------</h2><br>

            <h2>----------------------------------------------------------</h2>
            <p>Също да...</p>
            <input type="checkbox" id="radinoz" name="alsoTo" value="Имам повече гъвкавост/мобилност">
            <label for="male">Имам повече гъвкавост/мобилност</label><br>
            <input type="checkbox" id="radimoz" name="alsoTo" value="Премахна или намаля болката в тялото си">
            <label for="female">Премахна или намаля болката в тялото си</label><br>
            <input type="checkbox" id="radqioz" name="alsoTo" value="Намаля стреса">
            <label for="other">Намаля стреса</label><br>
            <input type="checkbox" id="rwadioz" name="alsoTo" value="Увелича енергията си и тонуса">
            <label for="other">Увелича енергията си и тонуса</label><br>
            <input type="checkbox" id="raedioz" name="alsoTo" value="Се подготвя за събитие (сватба, бал, фотосесия, лято и т.н.)">
            <label for="other">Се подготвя за събитие (сватба, бал, фотосесия, лято и т.н.)</label><br>
            <input type="checkbox" id="radrioz" name="alsoTo" value="Тренирам за определен спорт">
            <label for="other">Тренирам за определен спорт</label><br>
            <input type="checkbox" id="radtioz" name="alsoTo" value="Науча нови упражнения">
            <label for="other">Науча нови упражнения</label><br>
            <input type="checkbox" id="radyioz" name="alsoTo" value="Регулирам холестерола си">
            <label for="other">Регулирам холестерола си</label><br>
            <input type="checkbox" id="radiuoz" name="alsoTo" value="Коригирам кръвното налягане">
            <label for="other">Коригирам кръвното налягане</label><br>
            <input type="checkbox" id="radiioz" name="alsoTo" value="Регулирам кръвната си захар">
            <label for="other">Регулирам кръвната си захар</label><br>
            <h2>----------------------------------------------------------</h2><br>

            <h2>----------------------------------------------------------</h2>
            <p>На скала от 1 до 5, моля, посочете до каква степен сте готови да се грижите за здравето и фигурата си?</p>
            <input type="radio" id="radoioz" name="skalaMotiviran" value="1">
            <label for="male">1</label><br>
            <input type="radio" id="radipoz" name="skalaMotiviran" value="2">
            <label for="female">2</label><br>
            <input type="radio" id="radsaioz" name="skalaMotiviran" value="3">
            <label for="other">3</label><br>
            <input type="radio" id="raddsioz" name="skalaMotiviran" value="4">
            <label for="other">4</label><br>
            <input type="radio" id="radigfoz" name="skalaMotiviran" value="5">
            <label for="other">5</label><br>
            <h2>----------------------------------------------------------</h2><br>

            <h2>----------------------------------------------------------</h2>
            <p>Имате ли предишен опит в спазването на хранителен режим?</p>
            <input type="radio" id="radighoz" name="opitHranRejim" value="Да">
            <label for="other">Да</label><br>
            <input type="radio" id="radjhioz" name="opitHranRejim" value="Не">
            <label for="other">Не</label><br>
            <h2>----------------------------------------------------------</h2><br>

            <h2>----------------------------------------------------------</h2>
            <p>Кога, колко време и какъв хранителен план сте следвали? Резултатите от него, недостатъци и проблеми, ако има такива?</p>
            <input type="text" id="radijkoz" name="kakuwHranRejim" placeholder="Вашият отговор" >
            <h2>----------------------------------------------------------</h2><br>

            <h2>----------------------------------------------------------</h2>
            <p>Има ли храни, които не обичате, имате алергии или непоносимост? Ако има такива, моля, опишете ги:</p>
            <input type="text" id="radilkoz" name="alergiiHran" placeholder="Вашият отговор" >
            <h2>----------------------------------------------------------</h2><br>

            <h2>----------------------------------------------------------</h2>
            <p>Кои дни от седмицата са удобни за тренировка?</p>
            <input type="checkbox" id="radwqioz" name="udobniDni" value="Понеделник">
            <label for="other">Понеделник</label><br>
            <input type="checkbox" id="radewioz" name="udobniDni" value="Вторник">
            <label for="other">Вторник</label><br>
            <input type="checkbox" id="radelrioz" name="udobniDni" value="Сряда">
            <label for="other">Сряда</label><br>
            <input type="checkbox" id="radrktioz" name="udobniDni" value="Четвъртък">
            <label for="other">Четвъртък</label><br>
            <input type="checkbox" id="raytdioz" name="udobniDni" value="Петък">
            <label for="other">Петък</label><br>
            <input type="checkbox" id="raduyioz" name="udobniDni" value="Събота">
            <label for="other">Събота</label><br>
            <input type="checkbox" id="radiuioz" name="udobniDni" value="Неделя">
            <label for="other">Неделя</label><br>
            <h2>----------------------------------------------------------</h2><br>

            <h2>----------------------------------------------------------</h2>
            <p>По кое време през деня ще Ви е удобно да спортувате?</p>
            <input type="text" id="radixzoz" name="udobnoVreme" placeholder="Вашият отговор" >
            <h2>----------------------------------------------------------</h2><br>

            <h2>----------------------------------------------------------</h2>
            <p>Какво спортувате в момента и какъв спорт искате да практикувате сега?</p>
            <input type="text" id="readiocxz" name="kolkoSportuwate" placeholder="Вашият отговор" >
            <h2>----------------------------------------------------------</h2><br>

            <h2>----------------------------------------------------------</h2>
            <p>По колко дни тренирате в момента през седмицата?</p>
            <input type="checkbox" id="radicvoz" name="kolkoDniSportuwate" value="1-3 дни">
            <label for="other">1-3 дни</label><br>
            <input type="checkbox" id="radvbioz" name="kolkoDniSportuwate" value="3-5 дни">
            <label for="other">3-5 дни</label><br>
            <input type="checkbox" id="radbnioz" name="kolkoDniSportuwate" value="5-7 дни">
            <label for="other">5-7 дни</label><br>
            <input type="checkbox" id="radinmoz" name="kolkoDniSportuwate" value="Не спортувам в момента">
            <label for="other">Не спортувам в момента</label><br>
            <h2>----------------------------------------------------------</h2><br>

            <h2>----------------------------------------------------------</h2>
            <p>Какви добавки приемате в момента, по колко и от колко време?</p>
            <input type="text" id="radimjoz" name="priemaneDobawki" placeholder="Вашият отговор" >
            <h2>----------------------------------------------------------</h2><br>

            <h2>----------------------------------------------------------</h2>
            <p>Колко часа сън имате?</p>
            <input type="text" id="radinhoz" name="chasaSunImate" placeholder="Вашият отговор" >
            <h2>----------------------------------------------------------</h2><br>

            <h2>----------------------------------------------------------</h2>
            <p>Как протича вашето ежедневие?</p>
            <p>
              Пример: 7:00 събуждане <br>
              7:30 кафе и кардио тренировка ( 30мин колело) <br>
              8:00 закуска (описва се подробно какво се закусва<br>
              9:00 Започване на работния ден(Работа на компютър/работа в склад/работа навън/работа с висок стрес/ висока активност и т.н. <br>
              10:00 междинна почивка<br>
              12:00  обедна почивка+обяд (отново се описва подробно какво обядвате)<br>
              14:00 междинна почивка<br>
              16:00 край на работния ден <br>
              17:00 пред тренировъчно хранене: описва се подробно<br>
              18:00-19:00 тренировка <br>
              20:00 вечеря(описва се каква е вечерята)<br>
              20:00-22:00 почивка и след това bed time 😊<br>
              Това е един пример. От вас очаквам подобен<br>
              Успех в работата с мен и всичко зависи то вас колко сте готови да промените себе си!<br>
            </p>
            <input type="text" id="radbgioz" name="opishiEjednevie" placeholder="Вашият отговор" >
            <h2>----------------------------------------------------------</h2><br>

            <h2 style=" text-decoration: underline;">Моята здравна история</h2><br>

              <h2 id="ra">----------------------------------------------------------</h2>
              <p>Колко процента подкожни мазнини имате според снимката?</p>
              <img src="https://lh3.googleusercontent.com/-QEFHfsqGgXJtwo9xdGoYM6KaiJbXYUAK-Mz-toTQabWZNwzUx_aX1ZnHuzMfsQjWo3dx9fnV5oxLr8OoaEEE0ovsbC1Xk_tYw7BIYdldl0Fz5Y2lF6K_CT46ge7RrRSHw=w740"width="500" height="500" alt="../imgs/body-fat-percentage-men-women-1024x667.png" ><br>
              <input type="radio" id="radvfioz" name="procentaMaznina" value="3-4%">
              <label for="male">3-4%</label><br>
              <input type="radio" id="radicdoz" name="procentaMaznina" value="6-7%">
              <label for="female">6-7%</label><br>
              <input type="radio" id="radixsoz" name="procentaMaznina" value="10-12%">
              <label for="other">10-12%</label><br>
              <input type="radio" id="rzaadioz" name="procentaMaznina" value="15-17%">
              <label for="other">15-17%</label><br>
              <input type="radio" id="radqaioz" name="procentaMaznina" value="20-22%">
              <label for="other">20-22%</label><br>
              <input type="radio" id="rawedioz" name="procentaMaznina" value="25%">
              <label for="other">25%</label><br>
              <input type="radio" id="raderioz" name="procentaMaznina" value="30%">
              <label for="other">30%</label><br>
              <input type="radio" id="radefioz" name="procentaMaznina" value="35-40%">
              <label for="other">35-40%</label><br>
              <input type="radio" id="rargdioz" name="procentaMaznina" value="45-50%">
              <label for="other">45-50%</label><br>
              <h2>----------------------------------------------------------</h2><br>

              <h2>----------------------------------------------------------</h2>
              <p>Колко килограма сте?</p>
              <input type="number" id="radthioz" name="kilogrami" placeholder="Вашият отговор" >
              <h2>----------------------------------------------------------</h2><br>

              <h2>----------------------------------------------------------</h2>
              <p>Колко сте високи (см)?</p>
              <input type="number" id="radyjioz" name="visochina" placeholder="Вашият отговор" >
              <h2>----------------------------------------------------------</h2><br>

              <h2>----------------------------------------------------------</h2>
              <p>Талия(см)?</p>
              <input type="number" id="rzadweioz" name="taliq" placeholder="Вашият отговор" >
              <h2>----------------------------------------------------------</h2><br>

              <h2>----------------------------------------------------------</h2>
              <p>Ръце(см)?</p>
              <input type="number" id="radrtioz" name="ruce" placeholder="Вашият отговор" >
              <h2>----------------------------------------------------------</h2><br>

              <h2>----------------------------------------------------------</h2>
              <p>Бедро(см)?</p>
              <input type="number" id="raxcdioz" name="bedro" placeholder="Вашият отговор" >
              <h2>----------------------------------------------------------</h2><br>

              <h2>----------------------------------------------------------</h2>
              <p>Гръдна(см)?</p>
              <input type="number" id="radcvioz" name="gurda" placeholder="Вашият отговор" >
              <h2>----------------------------------------------------------</h2><br>

              <h2>----------------------------------------------------------</h2>
              <p>Ханш - за жени (см)? (Ако сте Мъж напишете - 0)</p>
              <input type="number" id="radweioz" name="hansh" placeholder="Вашият отговор" >
              <h2>----------------------------------------------------------</h2><br>

              <h2>----------------------------------------------------------</h2>
              <p>Имали ли сте някога наранявания или болки в която и да е част от тялото (глезен, колене, гръб, рамене, корем и т.н.)</p>
              <input type="text" id="radiosdz" name="naranqvaniqBolki" placeholder="Вашият отговор" >
              <h2>----------------------------------------------------------</h2><br>

              <h2>----------------------------------------------------------</h2>
              <p>Били ли сте някога подлагани на хирургическа операция? Ако сте имали ми ги опишете:</p>
              <input type="text" id="radieroz" name="imaliOperacii" placeholder="Вашият отговор" >
              <h2>----------------------------------------------------------</h2><br>

              <h2>----------------------------------------------------------</h2>
              <p>Диагностицирали ли сте някога хронично заболяване като коронарна (исхемична) болест на сърцето или артериите, високо кръвно налягане, висок холестерол, диабет, хормонални проблеми, киста, онкологично заболяване или други? Ако имате ми пишете подробно вида заболяване, кога е открито, с какви медикаменти се лекувате, какви дози, колко време и как сте в момента:</p>
              <input type="text" id="radirtoz" name="imaliBolesti" placeholder="Вашият отговор" >
              <h2>----------------------------------------------------------</h2><br>

              

      <input type="submit"  value="Влизане">
      
      
    </form>
              
    <div id="formFooter">
      <a class="underlineHover" href="/login">Вече Имате Регистрация?</a>
    </div>
    
  </div>
  <button onclick="scrollFnc()" id="scrollBtn" title="Следващо поле">Следващо ▼</button>
  <button id="homeBtn" title="Начална страница" >  <a href="/">  <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
  <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
</svg></a></button>
</body>
<script>
function scrollFnc() {
  window.scrollBy(0, 500);
}
</script>
</html>